body{
    font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  min-width: 400px;
  background-color: #dfe6e9;
  text-align: center;
}
.em{
   
   background-color: rgb(32, 95, 95);
   max-width: 160px;
  margin: auto;
  margin-top: 10px;
  color: aliceblue;
  padding: 10px;
   
}
.card{
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #eaf2f2;
    margin: 50px 0;
    height: 200px;
    box-shadow: 0 2px 5px #ccc;
   
   display: flex;
}
.top{
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #f2f8f8;
    position: absolute;
    top: 0;
    left: 0;
    
  }
  .emoji {
    margin-top: 0;
    text-align: center;
  }
  .description{
    text-align: center;
    margin-top: 2px;
  }
  .bottom{
    margin-top: 120px;
  }
  
  